h1{
    color: gray;
}

@font-face {
    font-family: Roboto;
    src: url(Fonts/Roboto-Regular.ttf);
}

.img-center {
    display: block;
    float: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 533px;
    height: 238px;
}

.username {
    color: white;
    font-family: Roboto;
}

.ranktoptext {
    color: white;
    font-family: Roboto;
}

#rankProgressBarDiv {
    width: 250px;
    background-color: grey;
    stroke: darkgray;
}

#rankProgressBar {
    width: 100px;
    height: 10px;
    background-color: orange;
}

#newsSection {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 25%;
    width: 40%;
}

.gameModeButton {
    width: 150px;
    height: 35px;
    display: block;
    font-family: Roboto;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 18px;
    margin: 10px;
}

.gameModeButton:hover {
    width: 150px;
    height: 35px;
    display: block;
    font-family: Roboto;
    color: black;
    background-color: rgba(255, 255, 255, 0.69);
    border: none;
    font-size: 18px;
    margin: 10px;
}

#gameModeOptions {
    float: left;
    margin-left: 15%;
}

#newsSection {
    float: center;
    overflow: scroll;
    height: 300px;
    width: 800px;
}

.paragraph {
    font-family: Roboto;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: white;
}

.title {
    font-family: Roboto;
    font-size: 20px;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 15px;
    color: white;
}

#basicBody {
    background-repeat: no-repeat;
    background-size: auto;
}

.img-center::-webkit-scrollbar {
    width: 1em;
}
 
#draggableDiv {
    background-color: rgba(61, 61, 61, 0.3);
    -webkit-app-region: drag;
    height: 30px;
}

.img-center::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.img-center::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.menubarButton {
    float: right;
    font-family: Roboto;
    display: block;
    -webkit-app-region: no-drag;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
}

.menubarTitle {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    /*display: block;*/
    font-family: Roboto;
    color: white;
}

#loginPanel {
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 50%;
    margin-right: 50%;
    width: 500px;
    height: 640px; 
    display: block;
}

#loginIcon {
    display: block;
    float: left;
    margin-left: -6%;
}

#loginText {
    font-family: Roboto;
    font-size: 30px;
    color: white;
    margin-left: 45%;
}

.sign-inBox {
    font-family: Roboto;
    color: white;
    font: 13px;
    margin-left: 12px;
}

.sign-inInputBox {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    margin: 20px;
    font-family: Roboto;
}

.loginButton {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-family: Roboto;
    margin-top: 60px;
    display: block;
    border: none;
    height: 40px;
    width: 80px;
    margin-left: 20px;
}